[Unit]
Requires=docker.service metrics.service
After=docker.service metrics.service
StopWhenUnneeded=true
[Service]
User={{ drone_user }}
EnvironmentFile={{ drone_checkout_dir }}/drone.env
ExecStart=/usr/bin/docker-compose -f {{ drone_checkout_dir }}/drone/docker-compose.yml up
ExecStopPost=/usr/bin/docker-compose -f {{ drone_checkout_dir }}/drone/docker-compose.yml down
# Sometimes, drone.service starts before metrics.service manages to create
# the rchain-perf-harness_metrics network.
Restart=on-failure
[Install]
WantedBy=rchain-perf-harness.target
